<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" parallel="False" thread-count="2">
	<test name="Test1">
	<groups>
		<runs>
			<include name="Smoke Test"/>
			<exclude name="Regression"/>
	
		</runs>
    </groups>
    
    
    <classes>
    
     	  <class name="Grp1.testCases.CompleteSingleTransaction"/>
     	  <class name="Grp1.testCases.LoginTestGrid"/>
     	  
    </classes>

	 </test> <!-- Test -->
</suite> <!-- Suite -->
